@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F6F1F1;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    font-family: 'Open Sauce One', sans-serif !important;
}


.scrollY {
    overflow-y: auto;
}

.scrollY::-webkit-scrollbar {
    display: none;
}